*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

:root{
    --main-orange: rgb(241, 106, 36);
    --facebook-color: rgb(59, 89, 152); 
    --instagram-color: rgb(205, 72, 107);
    --content-gray-background: rgb(240, 240, 240);
    --content-gray-heading: rgb(64, 64, 64);
    --content-gray-text: rgb(85, 85, 85);
    --content-width: 75vw;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

::placeholder{
    color: #ccc;
}

h1{
    font-size: calc(1.5vw + 0.75rem);
}

h2{
    font-size: calc(1.5vw + 0.75rem);
}

h3{
    font-size: calc(1.20vw + 0.6rem);
}

h4,
button{
    font-size: calc(0.9vw + 0.45rem);
}

p1,
i{
    font-size: calc(0.7vw + 0.35rem);
    font-weight: 600;
}

p,
input,
textarea,
th,
td{
    font-size: calc(0.6vw + 0.3rem);
}

table{
    margin-top: 1rem;
}

th{
    padding-top: 0.5rem;
    font-weight: 600;
    text-align: left;
    width: calc(7vw + 3.5rem);
    border-bottom: 1px solid var(--content-gray-text);

}

td{
    font-weight: 500;
    border-bottom: 1px solid var(--content-gray-text);
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: var(--main-orange);
}

ul{
    padding: 0;
}

.center{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.fill-content{
    display: grid; 
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

/*-----HEADER-----*/

special-header{
    position: sticky;
    top: 0;
    z-index: 997;
    width: 100%;
}

.first-bar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.first-bar ul{
    list-style: none;
}

.title{
    width:42%;
    color: var(--main-orange);
}

.logo{
    width: 16%;
}

.logo-container img{
    width: 100%;
    padding: 1.25vw
}

.top-navigation{
    width: 42%;
    overflow: hidden;
}

.main-navigation-list{
    display: flex;
    align-items: flex-end;
    gap: calc(1.5vw + 0.75rem);
    white-space: nowrap;
}

.main-navigation-mobile-list{
    position: fixed;
    display: flex;
    padding-top: 5vw;
    top: 0;
    right: -100vw;
    z-index: 999;
    opacity: 0;
    transition: opacity 1ms linear 450ms, right 450ms ease-in-out;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    gap: 5vw;
    background-color: #00000088;
    backdrop-filter: blur(10px);
}

.main-navigation-mobile-list-divider{
    border-top: 1px solid #fff;
    width: 90vw;
    height: 7px;
    margin-left: 5vw;
}

.main-navigation-mobile-list.displayMobileNav{
    right: 0;
    opacity: 1;
    transition: opacity 1ms linear, right 450ms ease-in-out;
}

.hide-on-desktop{
    display: none;
}

.second-bar{
    background-color: var(--main-orange);
    color: white;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/*-----CONTENT-----*/

/*-----SLIDER-----*/

.slider-wrapper{
    position: relative;
    width: 100%;
    height: 20vw;
    margin-bottom: 1rem;
}

.slider-wrapper h2{
    position: absolute;
    color: white;
    bottom: 7%;
    left: 12%;
    z-index: 2;
    text-shadow: 5px 5px 15px rgb(0, 0, 0, 1);
}

.slider-shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    box-shadow: inset 0px -10rem 5rem -2rem rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.slider img{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 1;
    opacity: 0;
    aspect-ratio: 5/1;
    object-fit: cover;
    transition: opacity 200ms ease-in-out;
}

img.displaySlide{
    opacity: 1;
}

.slider-wrapper button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
    background-color: rgb(0, 0, 0, 0);
    padding: 3px 17px;
    color: rgb(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    z-index: 5;
}

.slider-wrapper button:hover,
.slider-wrapper button:focus{
    color: white;
}

.prev-slide{
    left: 1rem;
}

.next-slide{
    right: 1rem;
}

/*-----MOTTO-----*/

.motto-block{
    margin-top: 30px;
    width: var(--content-width);
    padding: calc(2vw + 1rem);
    text-transform: uppercase;
    background: var(--main-orange);
    color: white;
    text-align: center;
}

.motto-block p1{
    display: block;
    padding: 1vw 0;
    transition: .3s ease-in-out;
}

.motto-block a{
    display:block;
    width: fit-content;
    margin: 0 auto;
}

.motto-block a p1:hover{
    transform: scale(1.25);
    color:white;
}

.motto-divider{
    display: inline-block;
    border-top: 1px solid #fff;
    width: 20%;
    height: 7px;
}

.fa-screwdriver-wrench{
    display: inline-block;
    padding: 15px;
}

/*-----CONTENT-BOXES-----*/

.content-categories{
    width: var(--content-width);
    display: flex;
    gap: 1.5rem;
    padding-top: 1.5rem;
}

.content-box{
    background-color: var(--main-orange);
    aspect-ratio: 2/1;
    flex: 1 1 100%;
    position: relative;
    background-color: black;
    overflow: hidden;
}

.content-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 66%;
    filter: blur(1px);
    transform: scale(1);
    filter: grayscale(50%);
    transition: .3s ease-in-out;
}

.content-box:hover img{
    transform: scale(1.25);
    filter: grayscale(33%);
    opacity: 100%;
}

.content-box h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
}

/*-----CONTENT-BLOCK-----*/

.content-block{
    background-color: var(--content-gray-background);
    width: var(--content-width);
    margin-top: 2rem;
    padding: 3rem calc(3vw + 1.5rem);
    border-top: var(--main-orange) solid 0.5rem; 
    color: var(--content-gray-text);
}

.content-block p{
    margin-top: 1.5rem;
    font-weight: 500;
    text-align: justify;
}

.content-block>p>a{
    color:darkblue
}

.content-block a{
    color: var(--content-gray-text);
}

.content-block a:hover{
    color: var(--main-orange);
}

/*-----UBER-UNS-----*/

.uber-uns-list{
    color: var(--content-gray-text);
    margin: 20px 10px;
}

.uber-uns-list li p{
    margin: 10px;
    font-weight: 600;
}

/*-----REALISIERUNGEN-----*/

.content-images{
    background-color: var(--content-gray-background);
    width: var(--content-width);
    padding: 1.5rem;
    margin-bottom: 4rem;
    display: flex;
    gap: 1.5rem;
    align-items: stretch;
    border-bottom: var(--main-orange) double 0.5rem; 
}

.content-wrapping-images{
    flex-wrap: wrap; 
}

.content-wrapping-image{
    flex: 1 0 31%; 
}

.content-image img {
    width: 100%;
}

/*-----KONTAKT-----*/

.contact p{
    display: inline-block;
}

.contact-form h4{
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.contact-form input{
    width: 100%;
    padding: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    border: 3px solid var(--content-gray-background);
    border-radius: 10px;
    margin-bottom: 1.6rem;
}

.contact-form input:focus-within{
    outline: none;
    border-color: var(--main-orange);
}

.contact-form textarea{
    width: 100%;
    outline: none;
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    border: 3px solid var(--content-gray-background);
    border-radius: 10px;
    margin-bottom: 2rem;
    resize: none;
}

.contact-form textarea:focus-within{
    outline: none;
    border-color: var(--main-orange);
}

.contact-form button{
    background-color: var(--main-orange);
    color: white;
    font-weight: 600;
    border-radius: 12px;
    border: none;

    padding: 1rem 1.5rem;
    display: flex;
}

.contact-form button:hover{
    opacity: 80%;
    cursor: pointer;
}

/*-----FOOTER-----*/

special-footer{
    display: flex;
    padding: 1rem 0 1.5rem;
    background-color: black;
    color: #ffffff;
    position: relative;
    bottom: 0;
    margin-top: 2rem;
    width: 100%;
}

.footer-part{
    flex: 1 1 0px;
}

.footer-part h2 a{
    color: var(--main-orange);
}

.footer-part p{
    display: inline-block;
    margin-top: 0.75rem;
}

.facebook-link:hover{
    color: var(--facebook-color);
}

.instagram-link:hover{
    color: var(--instagram-color);
}

@media (orientation: portrait) {
    
    :root{
        --content-width: 90vw;
    }

    h2{
        font-size: calc(3vw + 1.5rem);
    }
    
    h3{
        font-size: calc(2vw + 1rem);
    }

    h4,
    button{
        font-size: calc(1.5vw + 0.75rem);
    }

    p1,
    i{
        font-size: calc(1.10vw + 0.55rem);
    }
    
    
    p,
    input,
    textarea,
    th,
    td{
        font-size: calc(1vw + 0.5rem);
    }
    
    a{
        color: white;
        text-decoration: none;
    }

    /*-----HEADER----*/
    .hide-on-mobile{
        display: none;
    }

    .hide-on-desktop{
        display: flex;
    }

    .fixed-on-mobile{
        position: fixed;
        top: 2.5vw;
        right: 5vw;
        width: fit-content;
    }

    .main-navigation-list-option{
        padding-left: 5vw;
    }

    .main-navigation-list-option p1{
        font-size: calc(3vw + 1.5rem);
    }

    .main-navigation-list-option i{
        font-size: calc(5vw + 2.5rem);
    }

    .logo
    {
        width: 50%;
    }

    .logo-container img{
        padding: 4vw;
    }

    /*-----CONTENT----*/

    /*-----SLIDER-----*/

    .slider-wrapper{
        height: calc(100vw*2/3);
    }

    .slider-wrapper span{
        left: 5%;
    }

    .slider img{
        aspect-ratio: 3/2;
    }

    /*-----MOTTO----*/

    .motto-block h4{
        margin-bottom: 1rem;
    }

    .motto-block a:hover{
        font-size: calc(1.1vw + 0.55rem);
    }

    .motto-divider{
        width: 35%;
    }

    /*-----CONTENT-BOXES----*/

    .content-categories{
        flex-direction: column;
    }

    .content-box{
        flex: auto;
        height: calc(9vw + 4.5rem);
    }

    /*-----REALISIERUNGEN-----*/

    .content-image{
        margin-top: 2rem;  
    }

    /*-----FOOTER-----*/

    .footer-part{
        /* flex: 1 1 0px; */
        flex: auto;
        padding-bottom: 1rem;
    }

    .footer-part:last-of-type{
        border-left: 1px solid #ffffff;
    }
}
