*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-orange: rgb(241, 106, 36);
    --facebook-blue: rgb(59, 89, 152); 
    --content-gray-background: rgb(240, 240, 240);
    --content-gray-heading: rgb(64, 64, 64);
    --content-gray-text: rgb(85, 85, 85);
    --content-width: 75vw;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

::placeholder{
    color: #ccc;
}

h2{
    font-size: 1.75rem;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: var(--main-orange);
}

ul{
    padding: 0;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.center{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.fill-content{
    display: grid; 
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

special-header{
    position: sticky;
    top: 0;
    z-index: 998;
}

ul{
    list-style: none;
}

.first-bar{
    height: 150px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title{
    flex: 1 1 0px;
    color: var(--main-orange);
}

.logo{
    flex: 1 1 0px;
}

.logo-container{
    width: clamp(11rem ,calc(14vw + 2rem), 13rem);
}

.logo-container img{
    width: 100%;
    padding: 10px;
}

.top-navigation{
    flex: 1 1 0px;
}

.main-navigation-list{
    display: flex;
    align-items: flex-end;
    gap: calc(1vw + 1rem);
}

.main-navigation-mobile-list{
    position: fixed;
    padding-top: 5vw;
    top: 0;
    right: 0;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    display: none;
    flex-direction: column;
    gap: 5vw;
    background-color: #00000088;
    backdrop-filter: blur(10px);
    font-size: 0.1rem;
}

.main-navigation-list-option span{
    font-size: clamp(0.7rem, calc(1vw + 0.1rem), 1.1rem);
    font-weight: 500;
    white-space: nowrap;
}

.hide-on-desktop{
    display: none;
}

.second-bar{
    background-color: var(--main-orange);
    color: white;
    height: 30px;
    padding-top: 1vw;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/*-----CONTENT-----*/

.motto-block{
    margin-top: 30px;
    width: var(--content-width);
    padding: 50px;
    height: 270px;
    text-transform: uppercase;
    background: var(--main-orange);
    color: white;
    text-align: center;
}

.motto-block p{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.15rem;
}

.motto-block a{
    transition: .3s ease-in-out;
}

.motto-block a:hover{
    font-size: 1.30rem;
    color:white;
}

.divider{
    display: inline-block;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ffffff;
    width: 22%;
    height: 7px;
}

.fa-screwdriver-wrench{
    display: inline-block;
    padding: 15px;
}

/*-----CONTENT-BOXes-----*/

.content-categories{
    width: var(--content-width);
    display: flex;
    gap: 25px;
    padding-top: 25px;
}

.content-box{
    background-color: var(--main-orange);
    flex: 1 1 0px;
    position: relative;
    background-color: black;
    overflow: hidden;
}

.content-box img{
    height: 100%;
    width: 100%;
    opacity: 66%;
    filter: blur(1px);
    transform: scale(1);
    filter: grayscale(50%);
    transition: .3s ease-in-out;
}

.content-box:hover img{
    transform: scale(1.25);
    filter: grayscale(33%);
    opacity: 100%;
}

.content-box span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.75rem;
    color: white;
    text-transform: uppercase;
}

/*-----CONTENT-BLOCK-----*/

.content-block{
    background-color: var(--content-gray-background);
    width: var(--content-width);
    margin-top: 25px;
    padding: 35px 70px;
    border-top: var(--main-orange) solid 7px; 
    color: var(--content-gray-text);
}

.content-block h2{
    color: var(--content-gray-heading);
}

.content-block p{
    margin-top: 20px;
    font-weight: 500;
    text-align: justify;
}

.content-block>p>a{
    color:darkblue
}

.content-block a{
    color: var(--content-gray-text);
}

.content-block a:hover{
    color: var(--main-orange);
}

/*-----UBER-UNS-----*/

.uber-uns-list{
    color: var(--content-gray-text);
    margin: 20px 10px;
}

.uber-uns-list li{
    margin: 10px;
    font-weight: 600;
}

/*-----REALISIERUNGEN-----*/

.content-images{
    background-color: var(--content-gray-background);
    width: var(--content-width);
    padding: 15px;
    margin-bottom: 50px;
    display: flex;
    gap: 15px;
    align-items: stretch;
    border-bottom: var(--main-orange) double 5px; 
}

.content-wrapping-images{
    flex-wrap: wrap; 
}

.content-wrapping-image{
    flex: 1 0 31%; 
}

.content-image img {
    width: 100%;
}

/*-----KONTAKT-----*/

.contact p{
    display: inline-block;
}

.contact-form{
    width: 50%;
}

.contact-form h2{
    margin-top: 50px;
    margin-bottom: 15px;
}

.contact-form input{
    width: 100%;
    padding: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    border: 3px solid var(--content-gray-background);
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-form input:focus-within{
    outline: none;
    border-color: var(--main-orange);
}

.contact-form textarea{
    width:100%;
    outline: none;
    padding: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    border: 3px solid var(--content-gray-background);
    border-radius: 10px;
    margin-bottom: 25px;
    resize: none;
}

.contact-form textarea:focus-within{
    outline: none;
    border-color: var(--main-orange);
}

.contact-form button{
    background-color: var(--main-orange);
    color: white;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    padding: 12px 20px;
    display: flex;
}

.contact-form button:hover{
    opacity: 80%;
    cursor: pointer;
}

/*-----FOOTER-----*/

special-footer{
    display: flex;
    padding: 15px 0;
    background-color: black;
    color: #ffffff;
    position: relative;
    bottom: 0;
    margin-top: 25px;
}

.footer-part{
    flex: 1 1 0px;
}

.footer-part h2 a{
    font-size: 2rem;
    color: var(--main-orange);
}

.footer-part p{
    display: inline-block;
    margin-left: 0.25rem;
    margin-top: 5px;
}

.facebook-link:hover{
    color: var(--facebook-blue);
}

@media (orientation: portrait) {
    
    :root{
        --content-width: 90vw;
    }

    h2{
        font-size: 1.25rem;
    }

    /*-----HEADER----*/
    .hide-on-mobile{
        display: none;
    }

    .hide-on-desktop{
        display: flex;
    }

    .fixed-on-mobile{
        position: fixed;
        top: 3dvw;
        right: 3dvw;
    }

    .main-navigation-list-option{
        padding-left: 5vw;
    }

    .main-navigation-list-option span{
        font-size: clamp(3.5rem, calc(7vw + 2rem), 5.5rem);
    }

    .first-bar{
        height: 30vw;
    }

    .logo-container{
        width: calc(30vw + 1rem);
    }

    .second-bar{
        height: calc(6vw + 0.5rem);
        font-size: calc(3vw + 0.5rem)
    }

    /*-----CONTENT----*/

    /* .motto-block p{
        font-size: 0.75rem;
    } */

    .content-box span{
        font-size: 1.5rem;
    }

    /* .content-block p{
        font-size: 0.75rem;
    } */
}
